In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('indomaretxhalalmuijaccardmerge1.csv')
df = df.drop('Unnamed: 0', 1)
df.head()

                                              produk
0  Pristine 8+ Air Mineral|Air mineral botol aqua...
1  Crystalline Air Mineral|Air mineral botol aqua...
2  Le Minerale Air Mineral|Air mineral le mineral...
3  Club Air Mineral|Air mineral botol aqua,Produs...
4  Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...

In [3]:
new = df["produk"].str.split("|", n = 6, expand = True)

In [4]:
df["indomaret"]= new[0]
df.head()

,produk,indomaret
0,Pristine 8+ Air Mineral|Air mineral botol aqua...,Pristine 8+ Air Mineral
1,Crystalline Air Mineral|Air mineral botol aqua...,Crystalline Air Mineral
2,Le Minerale Air Mineral|Air mineral le mineral...,Le Minerale Air Mineral
3,"Club Air Mineral|Air mineral botol aqua,Produs...",Club Air Mineral
4,Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...,Aqua Galon Kosong + Isi Ulang

In [5]:
df["halalmui"]= new[1]
df.head()

,produk,indomaret,halalmui
0,Pristine 8+ Air Mineral|Air mineral botol aqua...,Pristine 8+ Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil"
1,Crystalline Air Mineral|Air mineral botol aqua...,Crystalline Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil"
2,Le Minerale Air Mineral|Air mineral le mineral...,Le Minerale Air Mineral,"Air mineral le minerale,Produsen Cv. oto boga ..."
3,"Club Air Mineral|Air mineral botol aqua,Produs...",Club Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil"
4,Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...,Aqua Galon Kosong + Isi Ulang,"Air isi ulang panji galon,Produsen Panji galon"

In [6]:
df["jaccard"]= new[2]
df.head()

,produk,indomaret,halalmui,jaccard
0,Pristine 8+ Air Mineral|Air mineral botol aqua...,Pristine 8+ Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.3333333333333333
1,Crystalline Air Mineral|Air mineral botol aqua...,Crystalline Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.4
2,Le Minerale Air Mineral|Air mineral le mineral...,Le Minerale Air Mineral,"Air mineral le minerale,Produsen Cv. oto boga ...",0.375
3,"Club Air Mineral|Air mineral botol aqua,Produs...",Club Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.4
4,Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...,Aqua Galon Kosong + Isi Ulang,"Air isi ulang panji galon,Produsen Panji galon",0.3333333333333333

In [7]:
new2 = df["halalmui"].str.split(",Produsen ", n = 6, expand = True)

In [8]:
df["match"]= new2[0]
df.head()

,produk,indomaret,halalmui,jaccard,match
0,Pristine 8+ Air Mineral|Air mineral botol aqua...,Pristine 8+ Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.3333333333333333,Air mineral botol aqua
1,Crystalline Air Mineral|Air mineral botol aqua...,Crystalline Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.4,Air mineral botol aqua
2,Le Minerale Air Mineral|Air mineral le mineral...,Le Minerale Air Mineral,"Air mineral le minerale,Produsen Cv. oto boga ...",0.375,Air mineral le minerale
3,"Club Air Mineral|Air mineral botol aqua,Produs...",Club Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.4,Air mineral botol aqua
4,Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...,Aqua Galon Kosong + Isi Ulang,"Air isi ulang panji galon,Produsen Panji galon",0.3333333333333333,Air isi ulang panji galon

In [9]:
df["produsen"]= new2[1]
df.head()

,produk,indomaret,halalmui,jaccard,match,produsen
0,Pristine 8+ Air Mineral|Air mineral botol aqua...,Pristine 8+ Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.3333333333333333,Air mineral botol aqua,Kampung kecil
1,Crystalline Air Mineral|Air mineral botol aqua...,Crystalline Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.4,Air mineral botol aqua,Kampung kecil
2,Le Minerale Air Mineral|Air mineral le mineral...,Le Minerale Air Mineral,"Air mineral le minerale,Produsen Cv. oto boga ...",0.375,Air mineral le minerale,Cv. oto boga jaya
3,"Club Air Mineral|Air mineral botol aqua,Produs...",Club Air Mineral,"Air mineral botol aqua,Produsen Kampung kecil",0.4,Air mineral botol aqua,Kampung kecil
4,Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...,Aqua Galon Kosong + Isi Ulang,"Air isi ulang panji galon,Produsen Panji galon",0.3333333333333333,Air isi ulang panji galon,Panji galon

In [10]:
##df = df.drop('Unnamed: 0', 1)
##df.head()

In [11]:
df = df.drop('halalmui', 1)
df.head()

,produk,indomaret,jaccard,match,produsen
0,Pristine 8+ Air Mineral|Air mineral botol aqua...,Pristine 8+ Air Mineral,0.3333333333333333,Air mineral botol aqua,Kampung kecil
1,Crystalline Air Mineral|Air mineral botol aqua...,Crystalline Air Mineral,0.4,Air mineral botol aqua,Kampung kecil
2,Le Minerale Air Mineral|Air mineral le mineral...,Le Minerale Air Mineral,0.375,Air mineral le minerale,Cv. oto boga jaya
3,"Club Air Mineral|Air mineral botol aqua,Produs...",Club Air Mineral,0.4,Air mineral botol aqua,Kampung kecil
4,Aqua Galon Kosong + Isi Ulang|Air isi ulang pa...,Aqua Galon Kosong + Isi Ulang,0.3333333333333333,Air isi ulang panji galon,Panji galon

In [12]:
df = df.drop('produk', 1)
df.head()

,indomaret,jaccard,match,produsen
0,Pristine 8+ Air Mineral,0.3333333333333333,Air mineral botol aqua,Kampung kecil
1,Crystalline Air Mineral,0.4,Air mineral botol aqua,Kampung kecil
2,Le Minerale Air Mineral,0.375,Air mineral le minerale,Cv. oto boga jaya
3,Club Air Mineral,0.4,Air mineral botol aqua,Kampung kecil
4,Aqua Galon Kosong + Isi Ulang,0.3333333333333333,Air isi ulang panji galon,Panji galon

In [13]:
##df.drop(df.loc[df['match']=='kosong'].index, inplace=True)

In [14]:
match = df.sort_values(['jaccard'], ascending=False)
match

,indomaret,jaccard,match,produsen
448,Dua Kelinci Kacang Polong Polongmas Ayam Bawang,0.75,Dua kelinci polongmas kacang polong rasa ayam ...,Pt. dua kelinci
364,Dua Kelinci Jagung Presto Bawang Putih,0.7142857142857143,Dua kelinci jagung presto rasa bawang putih,Pt. dua kelinci
365,Dua Kelinci Jagung Presto Pedas Manis,0.7142857142857143,Dua kelinci jagung presto rasa pedas manis,Pt. dua kelinci
985,Delfi Chocolate Cha Cha Milk,0.6666666666666666,Delfi cha cha milk chocolate compound,Pt. ceres
79,Frisian Flag Krimer Kental Manis Omela,0.625,Frisian flag krimer kental manis rasa cocopandan,Pt. frisian flag indonesia
...,...,...,...,...
225,Bintang Radler 0.0% Blackcurrant & Lime,0.125,Bejo,Pt. bintang toedjoe
1148,Lea & Perrins Worcestershire Sauce,0.125,Katsu sauce don,Hakata genko
1168,Bakalland Crunchy Muesli 5 Nuts & Honey,0.11764705882352941,Tong garden honey roasted cashew nuts mixed ma...,Tong garden food (malaysia) sdn. bhd.
1166,Bakalland Crunchy Muesli 5 Seeds & Honey,0.1111111111111111,Honey kids,Yayasan an-nahl
1105,Maling/Mailing Greenpeas,0.1,Beef tomato greenpeas mushroom porridge pureeland,Pt. pureeland nutritama prima

In [15]:
df.to_csv(r'halalmuimatchcleanTerbaru4.csv')